# Required secrets:
# - AWS_ACCOUNT_ID
# - AWS_ACCESS_KEY_ID
# - AWS_SECRET_ACCESS_KEY
---
on:
  workflow_call:
    inputs:
      AWS_REGION:
        type: string
        required: true
        description: "The AWS Region you want to interact with."
      DOCKERFILE:
        type: string
        required: true
        description: "The Dockerfile location you want to build."
      AWS_ECR_REGISTRY:
        type: string
        required: true
        description: "The AWS ECR Registry name you want to push the built images."
      ENABLE_BUILD_PUSH:
        type: boolean
        default: true
        description: "Toggle enable/disable image built push image, e.g. you can disable for CI test image build."
      ENABLE_CACHE_PUSH:
        type: boolean
        default: true
        description: "Toogle enable/disable image built cache push image."
      ENABLE_SSM_PARAMETER_STORE_ENV_FILE:
        type: boolean
        default: true
        description: "Toogle enable/disable to generate .env file from AWS SSM Parameter Store prefix."
      SSM_PARAMETER_STORE_PREFIX:
        type: string
        required: true
        description: "The AWS SSM Parameter Store prefix you want to use to generate .env file, e.g. /your-company/user-service/env/"
      SSM_PARAMETER_GENERATED_ENV_TARGETS:
        type: string
        required: true
        description: "The stored .env file generated by AWS SSM Parameter."
      DOCKER_IMAGE_TAG:
        type: string
        required: true
        description: "The Docker image tag you want to build."
      DOCkER_IMAGE_CACHE_TAG:
        type: string
        description: "The Docker image cache tag."

env:
  DOCKER_BUILDKIT: 1

jobs:
  DockerBuildx:
    runs-on: [onboard-docker-runner-standalone]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Install AWS CLI
        uses: unfor19/install-aws-cli-action@v1
        with:
          version: 2
          verbose: false
          arch: amd64

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ inputs.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v1

      - name: Generate .env file from AWS SSM Parameter Store
        if: ${{ inputs.ENABLE_SSM_PARAMETER_STORE_ENV_FILE == 'true' }}
        run: |
          IFS=$'\n' read -r -d '' -a array <<<"${{ inputs.SSM_PARAMETER_GENERATED_ENV_TARGETS }}"
          
          for item in "${array[@]}"; do
            curl -sSL https://github.com/Wintermar/reusable-workflows/blob/main/scripts/aws_ssm_generate_env_file.sh | bash -s "${{ inputs.SSM_PARAMETER_STORE_PREFIX }}" "$item"
          done 

      - name: Build Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ${{ inputs.DOCKERFILE }}
          push: ${{ inputs.ENABLE_BUILD_PUSH }}
          tags: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ inputs.AWS_REGION }}.amazonaws.com/${{ inputs.AWS_ECR_REGISTRY }}:${{ inputs.DOCKER_IMAGE_TAG }}
          cache-from: type=registry,ref=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ inputs.AWS_REGION }}.amazonaws.com/${{ inputs.AWS_ECR_REGISTRY }}:cache-${{ inputs.DOCkER_IMAGE_CACHE_TAG }}

      - name: Save Docker image cache
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ${{ inputs.DOCKERFILE }}
          target: base
          push: ${{ inputs.ENABLE_CACHE_PUSH }}
          build-args: BUILDKIT_INLINE_CACHE=1
          tags: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ inputs.AWS_REGION }}.amazonaws.com/${{ inputs.AWS_ECR_REGISTRY }}:cache-${{ inputs.DOCkER_IMAGE_CACHE_TAG }}
